﻿body {
    font-family: 'Roboto', sans-serif;
}
/*Para pantallas con un max-width de 500px*/
@media only screen and (max-width: 500px) {
    .logo {
        text-align: center;
    }

    .first-title {
        text-align: center;
    }

    .inputbox {
        border-radius: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-right: 5px;
        width: 100%;
        border: solid 0.2px;
        border-color: #CBCBCB;
    }

    .centeredparagraph {
        text-align: center;
        color: gray;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .titleinput {
        padding: 1px;
    }

    .container-form {
        width: 80%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .imageform {
        height: 50%;
        width: 100%;
        object-fit: contain;
    }

    .image-form {
        padding-bottom: 20px;
    }


    .submitinfodiv {
        padding: 5px;
        text-align: center;
    }

    .submitinfo {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 30%;
        text-align: center;
        vertical-align: middle;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        background-color: #FF2E77;
        color: white;
    }

    #divform {
        padding: 20px;
        box-shadow: rgba(0,0,0,0.2) 0px 0px 3px 3px;
        border-width: 2px;
        border-radius: 20px;
    }

    .div-label-input {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
}
/*Para pantallas con un min-width de 501pxand max-width de 1999px*/
@media only screen and (min-width: 501px) and (max-width: 1999px) {

    .logo {
        text-align: center;
    }

    .first-title {
        text-align: center;
    }

    .centeredparagraph {
        text-align: center;
        color: gray;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .titleinput {
        padding: 1px;
    }

    .container-form {
        width: 80%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .imageform {
        height: 50%;
        width: 100%;
        object-fit: contain;
    }

    .image-form {
        float: left;
        display: inline-block;
        width: 50%;
        padding-right: 10px;
    }

    .image-form2 {
        float: left;
        display: inline-block;
        width: 50%;
    }

    input {
        width: 100%;
    }

    .inputbox {
        border-radius: 5px;
        border: solid 0.2px;
        border-color: #CBCBCB;
        height: 35px;
        width: 100%;
    }

    .submitinfodiv {
        padding: 5px;
        text-align: center;
    }

    .submitinfo {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 40%;
        text-align: center;
        vertical-align: middle;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        background-color: #FF2E77;
        color: white;
    }

    #divform {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: rgba(0,0,0,0.2) 0px 0px 3px 3px;
        border-width: 2px;
        border-radius: 20px;
    }

    .inputdiv {
        text-align: center;
        height: 40px;
    }

    .div-label-input {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
}
/*Para pantallas con un min-width de 1200px*/
@media only screen and (min-width: 1200px) {
    .logo {
        text-align: center;
    }

    .first-title {
        text-align: center;
    }

    .centeredparagraph {
        text-align: center;
        color: gray;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .titleinput {
        padding: 1px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .container-form {
        width: 80%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .imageform {
        height: 50%;
        width: 100%;
        object-fit: contain;
    }

    .image-form {
        float: left;
        display: inline-block;
        width: 50%;
        padding-right: 10px;
    }

    .image-form2 {
        float: left;
        display: inline-block;
        width: 50%;
    }

    input {
        width: 100%;
    }

    .inputbox {
        border-radius: 5px;
        border: solid 0.2px;
        border-color: #CBCBCB;
        height: 35px;
        width: 100%;
    }

    .submitinfodiv {
        padding: 5px;
        text-align: center;
    }

    .submitinfo {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 30%;
        text-align: center;
        vertical-align: middle;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        background-color: #FF2E77;
        color: white;
    }

    #divform {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: rgba(0,0,0,0.2) 0px 0px 3px 3px;
        border-width: 2px;
        border-radius: 20px;
    }

    .inputdiv {
        text-align: center;
        height: 40px;
    }

    .div-label-input {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
}
