﻿@{
    ViewBag.Title = "Sigma";
}
<!--Realizado Por Carlos Andrés Balaguera Peña-->
<link rel="stylesheet" href="~/Styles/StyleSigma.css" type="text/css" runat="server" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">


<div class="container">
    <div class="logo">
        <img src="https://sigma-studios.s3-us-west-2.amazonaws.com/test/sigma-logo.png" />
    </div>
    <br />
    <div>
        <h1 class="first-title">Prueba de desarrollo Sigma</h1>
        <br />
        <p class="centeredparagraph">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
    </div>
    <br />

    <div class="container-form">
        <div class="image-form">
            <img class="imageform" src="https://sigma-studios.s3-us-west-2.amazonaws.com/test/sigma-image.png" />
        </div>
        <div class="image-form2" id="divform">
            <!--Creo el form-->
            <form method="post">
                <div class="div-label-input">
                    <div class="titleinput"><label name="departamento">Departamento*</label></div>
                    <div class="inputdiv"><select class="inputbox" id="Departamentos" name="departamento"></select></div>
                </div>
                <div class="div-label-input">
                    <div class="titleinput"><label name="ciudad">Ciudad*</label></div>
                    <div class="inputdiv">
                        <select class="inputbox" id="Ciudades" name="ciudad" disabled>
                            <option>Seleccione una opcion</option>
                        </select>
                    </div>
                </div>
                <div class="div-label-input">
                    <div class="titleinput"><label name="name">Nombre*</label></div>
                    <div class="inputdiv"><input class="inputbox" name="name" placeholder="Pepito de Jesús" maxlength="50" /></div>
                </div>
                <div class="div-label-input">
                    <div class="titleinput"><label name="email">Correo*</label></div>
                    <div class="inputdiv"><input class="inputbox" name="email" type="email" placeholder="Pepitodejesus@gmail.com" maxlength="30" /></div>
                </div>
                <br />
                <div class="submitinfodiv"><input class="submitinfo" type="submit" /></div>
            </form>
        </div>
    </div>
</div>

<br />
<br />

<!--Modal-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>

                </button>
                <h4 class="modal-title">Transacción Exitosa</h4>

            </div>
            <div class="modal-body">
                <p>¡Los datos han sido guardados!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        //Con el tempdata reviso si los datos enviados anteriormente fueron guardados o no
        $(document).ready(function () {
            console.log("@TempData["aprobado"]");
            if ("@TempData["aprobado"]" == "True") {
                $('#myModal').modal('show');
            }
            else {
                if ("@TempData["aprobado"]" == "rechazado") {
                alert("La transacción fue rechazada")
                }
            }
            //obtengo el json
            $.ajax({
                type: "GET",
                url: "/Home/GetJson",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var receivedData = data.toString()
                    //convierto el json
                    receivedData = JSON.parse(receivedData);
                    var items = '';
                    //agrego las opciones de departamento
                    items += "<option value='Seleccione una opción' disabled selected>Seleccione una opcion</option>";
                    $("#Departamentos").empty();
                    for (key in receivedData) {
                        items += "<option value='" + key + "'>" + key + "</option>";
                    }
                    //Agrego las opciones al select
                    $('#Departamentos').html(items);
                }
            });
        });

        //Con esta funcion voy a llenar las ciudades
        $("#Departamentos").change(function () {
            //obtengo el departamento seleccionado
            var valor = $(this).val();
            //obtengo el json
            $.ajax({
                type: "GET",
                url: "/Home/GetJson",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var receivedData = data.toString();
                    //convierto el json
                    receivedData = JSON.parse(receivedData);
                    var items = '';
                    $("#Ciudades").empty();
                    //agrego las opciones de ciudad
                    items += "<option value='Seleccione una opción' disabled selected>Seleccione una opcion</option>";
                    for (key in receivedData[valor]) {
                        items += "<option value='" + receivedData[valor][key] + "'>" + receivedData[valor][key] + "</option>";
                    }
                    //Agrego las opciones al select
                    $('#Ciudades').html(items);
                    //Habilito el select
                    $('#Ciudades').prop('disabled', false);
                }
            });
        });
    </script>
} 